%h1

  - @movie.results.each do |movie|
    %h1 Details about #{movie.title}
    
    %u1
      %div#img
      =image_tag "https://image.tmdb.org/t/p/w500" + movie.poster_path.to_s
      
      %li
        Rating:
        = movie.vote_average
      %li
        Released on:
        = movie.release_date
      
      %h3 Description:
      %p= movie.overview

= link_to 'Back to movie list',  "/",:onclick => "window.location.replace('/movies');" 