%h1

  - @movie.results.each do |movie|
    %h1 Details about #{movie.title}
    
    %u1
      %div#img
      =image_tag "https://image.tmdb.org/t/p/w500" + movie.poster_path.to_s
      %li
        Rating:
        = movie.vote_average
      %li
        Released on:
        = movie.release_date
      
      %h3 Description:
      
      %p= movie.overview
      
      - if (@data.find_by(title: movie.title) == nil or @data.find_by(description: movie.overview) == nil)
        = form_tag movies_path, :method => :post do |f|
          = hidden_field :movie, :title, :value => movie.title
          = hidden_field :movie, :release_date, :value => movie.release_date
          = hidden_field :movie, :description, :value => movie.overview
          = label :rating, 'Rating'
          = select :movie, :rating, ['G','PG','PG-13','R','NC-17','test']
          
          
          = submit_tag 'Add '+  movie.title.to_s 

= link_to 'Back to movie list',  "/",:onclick => "window.location.replace('/movies');" 